@model List<Photos>
@inject IConfiguration configuration
@{
    ViewData["PTitle"] = "All Photos";
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section Script{
        <script>

            $(function () {

                $('.nav-tabs nav-item a[href="#Profile"]').tab('show');

                $('#home-tab').addClass('active');
                $('#eprofile-tab').removeClass('active');
                $('#menu3').removeClass('active');
                $('#menu1').removeClass('active');
            });
        </script>
    }*@



<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" id="home-tab" asp-action="AllAlbums" asp-controller="User">All Albums</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="profile-tab" asp-action="AllPhotos" asp-controller="User">All Photos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="contact-tab0" asp-action="UserFavorites" asp-controller="User">Favorites</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">

        1

    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">





        @if (Model.Count > 0)
        {
            <div class="row mt-3">

                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            All Pictures
                        </div>
                        <div class="card-body">
                            <div class="row">
                                @foreach (var item in Model)
                                {

                                    string photopath = String.Empty;
                                    string downloadPath = String.Empty;

                                    string basepath =  configuration["PhotoPath"].ToString() + "/";

                                    downloadPath = "../" + basepath + item.PhotoPath;
                                    photopath = "~/" + basepath + item.PhotoPath;

                                <div class="col-md-1">
                                    <div>
                                        <span class="fa fa-download Downloadpic text-info" data-photoname="@item.ImgName" data-pic="@downloadPath"></span>
                                    </div>
                                    <a href="#">

                                        <img src="@photopath" class="img-thumbnail userimage" asp-append-version="true" />
                                        <div class="text-center">@item.ImgName</div>
                                    </a>
                                </div>


                                }
                            </div>

                            <div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        }



    </div>
    <div class="tab-pane fade" id="contact0" role="tabpanel" aria-labelledby="contact-tab0">312</div>

</div>










